<div class="bg-amber-200 w-full h-14">
  <ul class="flex w-full justify-around font-opensans text-xl">
    <li class="hover:text-red-400">
      <a
        class="focus:text-red-600"
        routerLink="movieList"
        routerLinkActive="active"
      >
        Movies 🎥</a
      >
    </li>
    <li class="hover:text-red-400">
      <a
        class="focus:text-red-600"
        routerLink="tvShowsList"
        routerLinkActive="active"
      >
        TV-Shows 🎬</a
      >
    </li>
    <li class="hover:text-red-400">
      <a
        class="focus:text-red-600"
        routerLink="profile"
        routerLinkActive="active"
      >
        Profile 🍿
      </a>
    </li>
  </ul>
</div>
