<form>
  <h2>Next to watch..</h2>
  <label for="title">Title: </label>
  <input id="title" type="text" />

  <label for="genre">Genre: </label>
  <select id="genre" type="text">
    <option>horror</option>
    <option>comedy</option>
    <option>thriller</option>
    <option>action</option>
  </select>

  <label for="minRating">Rating: </label>
  <select id="minRating" type="text">
    <option>3 stars</option>
    <option>4 stars</option>
    <option>5 stars</option>
    <option>action</option>
  </select>

  <button>Search</button>
</form>
