/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .components-class {
    @apply bg-no-repeat bg-cover;
    background-image: url("../public/background_wavy_colorful.png");
    background-position: center;
    background-size: cover;
  }
}
